<%- include('header'); %>

<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
    <div class="container">
        <h1>Upload image</h1>
        <form action="/admin/images" method="post"
              class="dropzone"
              id="my-awesome-dropzone">
        </form>
    </div>
</main>
<%- include('footer'); %>
