<main role="main">
  <div class="row">
    <h1 class="col-md-12">Gallery</h1>
  </div>
  <div class="row">
    
  </div>
  <!-- <% articles.forEach(function(article) { %>
    <div class="row top30">
      <div class="col-md-2">
        <p>
          <%=article.publishedOn.toLocaleDateString()%>
        </p>
      </div>
      <div class="col-md-10">
        <h2>
          <%=article.title%>
        </h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
        <% if (article.mainImage) { %>
          <div>
            <img class="img-thumbnail" src="/uploads/<%= article.mainImage.fileName %>" alt="main image"
              class="img-thumbnail">
          </div>
          <% } %>
      </div>
      <div class="col-md-10">
        <%-article.text%>
      </div>
    </div>
    <hr>
    <% }) %> -->
</main>